*{
    font-family:-apple-system, BlinkMacSystemFont, Arial, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif !important;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

a{
    cursor: pointer;
    user-select: auto;
}

.header-main-container{
    display: flex;
    flex-direction: column;
}

.main-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.links{
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin-top: 2rem;
    margin-left: 26rem;
    margin-bottom: -1rem;
}

.links a{
    font-size: 0.688rem;
    color: #7B7B7B;
    font-weight: 600;
    cursor: pointer;
    user-select: none;
}

.links a:hover{
    color: #ff6000;
}

.links .gk{
    color: #ED433E;
}   

.links .hp{
    color: #FF6000 ;
}

.links .hp:hover{
    color: #ED433E;
}


.bottom-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 3rem;
    margin-top: 30px;
}

.hepsi-burada{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 0.2rem;
}

.hepsi-burada h3{
    color:rgb(255, 96, 0);
    font-size: 2rem;
    font-weight: 750;
   
}

.hepsi-burada .premium{
    color:rgb(255, 96, 0);
    font-size: 0.9rem;
   
}

.hepsi-burada h5{
    font-size: 0.9rem; 
}

.search-bar{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.search-bar input{
    padding: 17px;
    border: 1px solid rgb(255, 96, 0);
    border-radius: 0.5rem;
    width: 418px;
    position: relative;
    padding-left: 42px;
}

.search-bar .color-bar{
    display: flex;
    height: 0.2rem;
    justify-content: center;
    border-radius: 100%;
    width: 98.5%;
    position: absolute;
    bottom: 0.05rem;
}

.search-bar .color-bar .orange-part{
    width: 40%;
    background: #FF6000;
   
}

.search-bar .color-bar .blue-part{
    width: 15%;
    background: #49c7ed;
}

.search-bar .color-bar .purple-part{
    width: 15%;
    background: #7723db;
}

.search-bar .color-bar .green-part{
    width: 15%;
    background: #57b900;
}

.search-bar .color-bar .dark-purple-part{
    width: 15%;
    background: #5d196a;
}

.search-bar img{
    position: absolute;
    top: 28%;
    left: 1rem;
    z-index: 1;
}

.search-bar input::placeholder{
    color:#484848;
    font-weight: 400;
}

.location-filter{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.8rem;
    cursor: pointer;
    user-select: none;
    border-radius: 8px;
    padding: 10px;
    margin-left: -1.5rem;
}

.location-filter:hover{
    background-color: #ccc;
    transition: 1s ease;
}

.location-filter .location{
    font-size: 0.875rem;
    font-weight: 600;
    color:#484848;
}

.location-filter .location-select{
    font-size:  0.75rem;
    color:rgb(255, 96, 0);
}

.sign-button button{
    font-size: 0.938rem;
    color: #484848;
    font-weight: 600;
    background-color: transparent;
    padding: 9px 10px 6px 10px;
    border:2px solid #919191;
    border-radius: 5px;
    display: grid;
    grid-template-columns: auto auto auto;
    align-items: center;
    justify-content: space-between;
    gap: 0.2rem;
    position: relative;
    cursor: pointer;
    user-select: none;
}

.sign-button button .arrow-icon{
   width: 0.8rem;
   margin-left: 0.5rem;
}

.sign-button button:hover{
    background-color:#ccc;
    transition: 1s ease;
}

.sign-button button:hover .arrow-icon{
    transform: rotate(90deg);
    transition: 0.5s ease;
}

.sign-button button:hover .sign-pop-up{
    display: block;
}

.sign-pop-up{
    display: none;
    position: absolute;
    top: 2.8rem;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
    width: 225px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.sign-pop-up-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    background-color: white;
    justify-content: flex-start;
    gap: 1rem;
    border-radius: 8px;
}

.sign-pop-up-menu div{
    width: 100%;

}

.sign-pop-up-menu .first{
    
    justify-content: flex-start;
    background-color:rgb(250, 234, 240);
    font-size: 0.75rem;
    height: 5rem;
    text-align: center;
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap:1rem;
}

.sign-pop-up-menu .first .shower{
    background-color: white;
    width: 80%;
    height: auto;
    padding: 8px;
    border-radius: 8px;
    text-align: center;
    display: flex;
    align-items: center;
    gap: 0.5rem;
}

.sign-pop-up-menu .first .shower img{
    width: 10%;
}

.sign-pop-up-menu .first p{
    display: inline;
}

.sign-pop-up-menu .first span{
    color: rgb(223, 4, 133);
    display: inline;
}

.sign-pop-up-menu .second{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    padding-bottom: 15px;
    border-bottom: 1px solid #e5e5e5;
}

.sign-pop-up-menu .third{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 15px 0;
}

.sign-pop-up-menu .forth{
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    border-bottom: 1px solid #e5e5e5;
    padding: 0 0 15px 0;
}

.sign-pop-up-menu .fifth{
    display: flex;
    flex-direction: column;
    padding-bottom: 30px;
}

.sign-pop-up-menu a{
    color: #484848;
    font-size:0.813rem;
    width: max-content;
    font-weight: 700;
    line-height: 1;
    margin-left: 2rem;
}

.sign-pop-up-menu a:hover{
    color: #ff6000;
}

.sign-button .person-icon{
    width: 30px;
}

.sign-button .p{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.sign-button .signin{
    font-size:0.625rem;
    font-weight: 100; 
}

.basket button{
    border: none;
    border-radius: 5px;
    background-color: #919191;
    color: white;
    font-size: 0.938rem;
    font-weight: 600;
    display: flex;
    padding:13px 24px 12px 24px;
    gap: 0.7rem;
    align-items: center;
    position: relative;
    cursor: pointer;
    user-select: none;
    margin-left: -2rem;
}

.basket button:hover{
    background-color: #484848;
    transition: 1.5s ease;
}

.basket button img{
    width: 1.5rem;
    height: 1.5rem;
}

.basket .total-amount{
    background-color: #fff;
    color: #919191;
    border: none;
    border-radius: 100%;
    font-size: 0.75rem;
    position: absolute;
    top: 10.5px;
    left: 38px;
    width: 1rem;
    height: 1rem;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
}

.markalar-footer{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

.footer-color-bar{
    display: flex;
    height: 0.5rem;
    justify-content: flex-start;
    margin-bottom: -2.5rem;
}

.footer-color-bar .orange-part{
    width: 40%;
    background: #FF6000;
}

.footer-color-bar .blue-part{
    width: 15%;
    background: #49c7ed;
}

.footer-color-bar .purple-part{
    width: 15%;
    background: #7723db;
}

.footer-color-bar .green-part{
    width: 15%;
    background: #57b900;
}

.footer-color-bar .dark-purple-part{
    width: 15%;
    background: #5d196a;
}

.footer-container{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-top: 2.5rem;
    padding-top: 40px;
}

.footer-main-container{
    background-color: #fff2ea;
}

.footer-container h4{
    font-size: 0.875rem;
    color: #ff6000;
    user-select: none;
}

.footer-container a{
    font-size: 0.75rem;
    color: #484848;
    text-decoration: none;
    cursor: pointer;
    user-select: none;
}

.footer-container ul{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.footer-container ul li{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 0.7rem;
}

.footer-container li:hover{
    text-decoration: underline;
}

.footer-container ul li img{
    width: 40px;
    height: 40px;
    cursor: pointer;
    user-select: none;
}

.footer-container .kurumsal-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.footer-container .hepsi-burada-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.footer-container .bizi-takip-edin-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
}

.footer-container .mobil-uygulamalar-footer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.8rem;
    user-select: none;
}

.footer-container .mobil-uygulamalar-footer span{
    font-size: 0.75rem;
    font-weight:600;
}

.footer-container .mobil-uygulamalar-footer p{
    font-size: 0.75rem;
}

.mobil-uygulamalar-footer div{
    border: 2px solid #dadada;
    padding: 0.3rem;
    border-radius: 8px;
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    gap: 0.3rem;
    cursor: pointer;
    width: 100%;
}

.mobil-uygulamalar-footer > div:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.mobil-uygulamalar-footer .span-container{
    display: flex;
    flex-direction: column;
    border:none;
    align-items: flex-start;
}

.mobil-uygulamalar-footer div img{
    width: 1.25rem;
    height: 1.25rem;
}

.footer-container .soru-footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.8rem;
    user-select: none;
}

.footer-container .soru-footer hr{
    width: 100%;
    border: 1px solid #dadada;
}

.footer-container .soru-footer a{
    font-size: 0.875rem;

}

.footer-container .soru-footer p{
    font-size: 0.875rem;
    
}

.footer-container .soru-footer .çozum-merkezi{
    border:2px solid #dadada;
    border-radius: 8px;
    padding: 8px 12px;
    font-weight: 600;
}

.footer-container .soru-footer .çozum-merkezi:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.footer-container .soru-footer .phone-number{
    font-size: 1.5rem;
    color: #484848;
    font-weight: 600;
}

.markalar-footer{
    margin-top: 6rem;
}

.markalar-footer img{
    width: 4%;
    height: 4%;
    mix-blend-mode: multiply;
}

.main-container .category-container{
    background-color: #f5f5f5;
    width: 100%;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main-container .color-bar{
    display: flex;
    height: 0.5rem;
    width: 100%;
    justify-content: flex-start;
    margin-bottom: -0.625rem;
    margin-top: 1rem;

}

.main-container .color-bar .orange-part{
    width: 40%;
    background: #FF6000;
}

.main-container .color-bar .blue-part{
    width: 15%;
    background: #49c7ed;
}

.main-container .color-bar .purple-part{
    width: 15%;
    background: #7723db;
}

.main-container .color-bar .green-part{
    width: 15%;
    background: #57b900;
}

.main-container .color-bar .dark-purple-part{
    width: 15%;
    background: #5d196a;
}

.main-container .category-container ul{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
    border-bottom: 0.5px solid #e5e5e5
}

.main-container .category-container ul li{
    list-style: none;
    font-size: 0.875rem;
    color: #646464;
    font-weight: 600;
    padding: 17px;
    height: 56px;
    text-align: center;
    cursor: pointer;
    user-select: none;
}


.main-container .category-container ul li:hover{
    background-color: white;
    color: #FF6000;
}

.main-container .category-container ul li:hover .pop-up {
    display: block;
}

.main-container .category-container ul li:hover .first-pop-up{
    display: block;
}

.first-pop-up{
    display: none;
    position: absolute;
    top: 12.2rem;
    width: 20%;
    padding: 20px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
    
}

.first-pop-up-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 0.1rem;
}

.first-pop-up-menu li{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.first-pop-up-menu li img{
    width: 0.8rem;
    margin-left: 0.5rem;
   
}

.first-pop-up ul li:hover img{
    transform: rotate(90deg);
    transition: 0.5s ease;
}

.first-pop-up ul li:hover .menu{
    display: block;
}

.menu {
    position: absolute;
    top: 0;
    left: 100%;
    width: 50vw;
    background: #fff;
    border-left: 1px solid #ddd;
    padding: 20px;
    display: none;
    border: none;
    z-index: 1000;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19); 
}

.pc-tablet-container {
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0rem;
    text-align: left;
}

.column .items{
    width: 90%;
}

.column h4 {
    margin-bottom: 10px;
    font-size: 14px;
    color: #FF6000;
    font-weight: 600;
}

.column a {
    margin-right: 3px;
    font-size: 13px;
    display: inline;
    color: #484848;
    font-weight: 400;
}

.column a:hover {
    color: #FF6000;
}

.pop-up{
    display: none;
    z-index: 100;
    background-color: white;
    position: absolute;
    padding: 20px;
    top: 12rem;
    left: 50%;
    transform: translateX(-50%);
    width: 82.5%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);   
}

.pop-up-menu{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;  
}

.moda-pop-up-menu{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 8rem;
    align-items: flex-start;
}

.moda-pop-up-menu div{
    display: flex;
    flex-direction: column;
    gap: 0.8rem;
    align-items: flex-start;  

}

.moda-pop-up-menu a{
    font-size: 0.813rem;
    font-weight: normal;
    color: #484848;
    cursor: pointer;
    user-select: none;
}

.moda-pop-up-menu a:hover{
    color: #FF6000;
}

.moda-pop-up-menu .women .women-aks a{
    font-weight: 600;  
}

.moda-pop-up-menu .man .man-aks a{
    font-weight: 600;  
}

.moda-pop-up-menu h3{
    color:#FF6000;
    font-size: 0.938rem;
    width: max-content;
}

.moda-pop-up-menu .giyim-title{
    font-weight: 600;
}

.moda-pop-up-menu .kadın-ayakkabı{
    font-weight: 600;
}

.moda-pop-up-menu .erkek-ayakkabı{
    font-weight: 600;
}

.moda-pop-up-menu .baby-items a{
    font-weight: 600;
}

.moda-pop-up-menu .shoes a{
    font-weight: 600;
}

.moda-pop-up-menu .types a{
    font-weight: 600;
}

.moda-pop-up-menu .size a{
    font-weight: 600;
}

.main-container .category-container ul li::after{
    content: '';
    position: absolute;
    top: 25%;         
    bottom: 25%;      
    right: 0;
    width: 0.5px;       
    background: #e5e5e5
}

.main-container .sale-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1.5rem;
    margin-top: 25px;
    cursor: pointer;
    user-select: none;
}

.main-container .sale-container img{
    width: 6%;
}

.main-container .sale-container img:hover{
    transform: scale(1.2);
    transition: 0.5s ease;
}

.main-container .advertising-container{
    display: flex;
    justify-content: center;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
    gap: 1rem;
   
}

.main-container .advertising-container .advertising{
    border-radius: 10px;                                                        
    position: relative;
    background-color: #ff6000;
    width: 40%;
}

.main-container .advertising-container .advertising .rek{
    position: absolute;
    background-color: #fff;
    color: black;
    font-size: 0.75rem;
    font-weight: 600;
    padding: 4px 12px 4px 12px;
    border-radius: 10px;
    top: 0.5rem;
    right: 0.5rem;
}

.main-container .advertising-container .fırsat{
    width: 60%;
}

.main-container .advertising-container .fırsat img{
    width: 100%;
    user-select: none;
    cursor: pointer; 
}

.main-container .advertising-container .product-container{
    display: grid;
    grid-template-columns: auto auto;
    align-items: center;
    position: absolute;
    bottom: 1rem;
    left: 1.5rem;
    background-color: #fff;
    border-radius: 10px;
    gap: 1rem;
    padding: 10px;
    cursor: pointer;
    user-select: none;
    width: 80%;
    height: 60%;
}

.main-container .advertising-container .product-container:hover{
    transform: scale(1.050);
    transition: 0.5s ease;
}

.main-container .advertising-container .product-container .right-part .right-top{
    display: flex;
    flex-direction: column;
    gap: 0.2rem;
}

.main-container .advertising-container .product-container .right-part .right-top .all-ratings .stars{
    display: flex;
    justify-content: flex-start;
    gap: 0.1rem;
    align-items: center;
}

.main-container .advertising-container .product-container .right-part .right-top .all-ratings .stars p{
    font-size: 0.563rem;
    color: #7B7B7B;
}

.main-container .advertising-container .product-container .right-part .right-top .all-ratings .stars img{
    width: 0.75rem;
    height: 0.75rem;
}

.main-container .advertising-container .product-container .right-part .right-top .discount{
    font-size: 0.688rem;
    color: rgb(0, 147, 25);
}

.main-container .advertising-container .product-container .cost{
    font-size: 0.875rem;
    color: #484848;
    font-weight: 600;
}

.main-container .advertising-container .product-container p{
    font-size: 0.75rem;
    color: #7B7B7B;
    font-weight: 600;
}

.main-container .advertising-container .product-container img{
    width: 95%;
    height: auto;
    border-radius: 10px;
    object-fit: contain;
}
.main-container .advertising-container .product-container .right-part{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    flex: 1;
    gap: 1.5rem;
}

.main-container .advertising-container .product-container .left-part{
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.main-container .advertising-container .product-container .right-part button{
    width: 100%;
    background-color: transparent;
    font-size: 0.875rem;
    font-weight: 600;
    color: #484848;
    padding: 5px;
    border: 2px solid #ccc;
    border-radius: 7px;
    cursor: pointer;
}

.main-container .advertising-container .product-container .right-part button:hover{
    color: #ff6000;
   
}

.main-container .popular-products{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top:25px;
    justify-content: center;
}

.main-container .popular-products h3{
    font-size: 1.375rem;
    color: #484848;
}

.main-container .popular-products .p-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin: 20px auto 0 auto;
}

.main-container .popular-products .p-product-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid #ededed;
    border-radius: 10px;
    gap: 3rem;
    cursor: pointer;
    user-select: none;
}

.main-container .popular-products .p-product-container:hover{
    border: 1.5px solid #919191;
    transform: scale(1.1);
    transition: 1s ease;
}

.main-container .popular-products .p-product-container .top img{
    object-fit: cover;
    width: 100%; 
}

.main-container .popular-products .p-product-container .top .product-d{
    font-size: 0.75rem;
}

.main-container .popular-products .p-product-container .top .product-d span{
    display: block;  
}

.main-container .popular-products .p-product-container .top .star{
    width: 5%;
}

.main-container .popular-products .p-product-container .top .all-ratings{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
    font-size: 0.688rem;
    font-weight: 700;
    margin-top: 0.3rem;
}

.main-container .popular-products .p-product-container .bottom{
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #f5f5f5;
    padding: 10px;
    border-radius: 8px;
    width: 98%;
    align-self: center;
   
}

.main-container .popular-products .p-product-container .bottom p{
    font-size: 0.875rem;
    font-weight: 600;
}

.main-container .popular-products .p-product-container .bottom p span{
    font-size: 0.625rem;
    font-weight: 700;
}

.main-container .popular-products .p-product-container .bottom img{
    width: 9%;
}

.main-container .reklam-container{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.main-container .reklam-container img{
    width: 32%;
}

.main-container .reklam-container img:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.main-container .tanıtım-container{
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1.5rem;
    margin-top: 25px;
    margin-left: auto;
    margin-right: auto;
}

.main-container .tanıtım-container img{
    width: 100%;
}

.main-container .tanıtım-container img:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.main-container .r-container{
    display: flex;
    justify-content: center;
    gap: 2rem;
    margin-top: 25px;
}

.main-container .r-container img{
    width: 32%;
}

.main-container .r-container img:hover{
    transform: scale(1.1);
    transition: 1s ease;

}

.main-container .p-reklam{
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
}

.main-container .p-reklam img{
   width: 32%;
}

.main-container .p-reklam img:hover{
    transform: scale(1.1);
    transition: 1s ease;
}

.brands-container h3{
    font-size: 1.313rem;
    color: #333333;
    margin-top: 100px;
}
.container{
    max-width: 1228.8px;
}
.brands-container .brands ul{
    display: flex;
    list-style: none;
    justify-content: space-between;
    margin-top: 25px;
    border-bottom: 2px solid #f4f4f4;
    padding-bottom: 2.5rem;
    gap: 0.5rem;
}

.brands-container .brands ul li{
    border: 1px solid #e5e5e5;
    border-radius: 22px;
    padding: 12px 8px 15px 12px;
    width: 143px;
    text-align: center;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
}

.brands-container .brands ul li:hover{
   background-color: #ccc;
   transition: 1s ease;
}

.form-container{
    display: flex;
    justify-content: center;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 3rem;
}

.form-container .sub-titles{
    position: sticky;
    top: 2rem;
    z-index: 10;
    height: max-content;
    font-size: 0.813rem;
    color: #484848;
    font-weight: 700;
    line-height: 1.8;
    cursor: pointer;
    padding-left: 2rem;
    border-left: 2px solid #ccc;

}

.form-container .sub-titles li:hover{
    color: #FF6000;
}

.paragrafs{
    display: flex;
    flex-direction: column;
    gap: 1rem;
    
}

.paragrafs p{
    font-size: 0.813rem;
    color: #484848;
    line-height: 1.6;
}

.paragrafs h2{
    font-size: 1.25rem;
}

.p-searchs{
    border: 1px solid #e5e5e5;
    padding-top: 2rem;
    padding-bottom: 2rem;
    margin-top: 3rem;
    border-radius: 0.5rem;
}

.p-searchs h3{
    font-size: 1rem;
    color: #484848;
    margin-left: 1rem;
    margin-bottom: 1.5rem;
}

.p-searchs ul{
    display: flex;
    list-style: none;
    justify-content: space-around;
    gap: 2rem;
   
}

.p-searchs ul li{
   border:none;
   border-radius: 30px;
   padding: 10px 15px;
   color: #484848;
   font-size: 0.75rem;
   background-color: #edebeb;
   user-select: none;
   cursor: pointer;
}

.p-searchs ul li:hover{
    background-color: #ccc;
    transition: 1s ease;
}



.transactions{
    display: flex;
    justify-content: flex-start;
    padding-top: 36px;
    padding-bottom: 36px;
    border-top: 1px solid #dadada;
    border-bottom: 1px solid #dadada;
    user-select: none;
    gap: 1rem;
}

.main-transaction-container{
    display: flex;
    justify-content: center;
    margin-top: 50px;

}

.transactions .transaction-container{
    display: grid;
    grid-template-columns: auto auto;
    gap: 0.5rem;
    
}

.transactions .transaction-container .info h3{
    font-size: 1rem;
    color: #484848;
    width: 10rem;
}

.transactions .transaction-container .info p{
    font-size: 0.875rem;
    color: #484848;
    line-height: 20px;
    width: 11.3rem;
    margin-top: 0.5rem;
}

.categories{
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    margin-top: 3rem;
    gap: 6.5rem;
}
.categories .brand-cate{
    width: 18%;
}

.main-footer{
    background-color: #fff2ea;
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}

.footer-color-bar{
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2.5rem;
}


.categories .brand-cate h4{
    font-size: 0.875rem;
    color: #484848;
    font-weight: 700;
    user-select: none;
}

.categories .brand-cate li{
    font-size: 0.75rem;
    color: #484848;
    font-weight: 400;
    cursor: pointer;
    user-select: none;
}

.categories .brand-cate li a{
   user-select: none;
}


.categories .brand-cate li:hover{
    text-decoration: underline;
}

.categories .brand-cate ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    align-items: flex-start;
    gap: 0.8rem;
    margin-top: 1rem;
}

.questions-container{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-top: 2rem;
    gap: 1rem;
}

.questions{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1.5rem;
}

.questions-container h2{
    color: #484848;
    font-size: 1.25rem;
}

.questions h3{
    color: #484848;
    font-size: 1rem;
    border: 1px solid #e5e5e5;
    padding: 16px;
    position: relative;
    cursor: pointer;
    user-select: none;
    width: 1198.4px;
}

.questions h3::before{
    content: '01';
    position: absolute;      
    left: 0;
    width: 0.5px;       
    color: #edebeb;
}

.product-path{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.card{
    display: flex;
    justify-content: flex-start;
    gap: 2rem;
}

.card .card-left-part .thumbnails{
    width: 25%;
    display: flex;
    display: none;
}

.card .card-left-part .product-img{
    position: relative;
}


.card .card-left-part .back-arrow{

    position: absolute;
    left: 0.5rem;
    top: 50%;
    background-color: white;
    border: none;
    padding: 4px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .card-left-part .forward-arrow{
    position: absolute;
    right: 0.5rem;
    top: 50%;
    background-color: white;
    border: none;
    padding: 4px;
    border-radius: 100%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.card .card-mid-part{
    display: flex;
    flex-direction: column;
}

.card .card-mid-part h1{
    font-size: 1.125rem;
}

.card .card-mid-part h1 span{
    color: #FF6000;
}

.card .card-mid-part .comments{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 0.3rem;
}

.card .card-mid-part .comments .score{
    color: #484848;
    background: #FFF9E5;
    padding: 1px 4px;
    font-size: 0.75rem;
    font-weight: 600;

}

.card .card-mid-part .comments a{
    color: #ff6000;
    font-size: 0.75rem;
}

.card .card-mid-part .comments a span{
    font-weight: 600;
}

.card .card-mid-part .comments .stars img{
    width: 0.75rem;
}

.card .card-mid-part .seller-info{
    display: flex;
    align-items: center;
}



.card .card-mid-part .seller-info .seller-name{
    display: flex;
    align-items: center;
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 6px;
    gap: 0.5rem;
}

.card .card-mid-part .seller-info .seller-name .seller{
    color: #919191;
    font-size: 0.75rem;
    font-weight: 600;
}

.card .card-mid-part .seller-info .seller-name .seller span{
    color: #ff6000;
}

.card .card-mid-part .seller-info .seller-name .verified-seller{
    display: flex;
    align-items: center;
    background: #eaf4ff;
}

.card .card-mid-part .seller-info .seller-name .verified-seller p{
   color: #2c96ff;
   font-size: 0.625rem;
}

.card .card-mid-part .seller-info .seller-name .verified-seller img{
    width: 1.125rem;
}

.card .card-mid-part .seller-info .follow{
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 6px 12px;
    font-size: 0.75rem;
    font-weight: 600;
    color: #484848;
}

.card .card-mid-part .seller-info .ask-seller{
    border: 1px solid #f5f5f5;
    border-radius: 4px;
    padding: 6px;
}

.delivery-info{
    background: #ededed;
    border-radius: 2px;
}

.di-top{
    display: flex;
    align-items: center;
}

.di-bottom p{
    color:#6b83fa;
    font-size: 0.75rem;
    background: #000;
    background-color: #f0f2ff;
    padding: 6px 8px;
}

.product-info .feature{
    display: flex;
    justify-content: space-between;

}

.product-info .feature div{
    display: flex;
    flex-direction: column;
    background: #ededed;
    border-radius: 8px;
    padding: 6px;
}

.product-info .feature div p{
    font-weight: 600;
    font-size: 0.688rem;
}

.product-info .feature .all-products{
    color: #ff6000;
}

.all-coupons .coupon .top{
    display: flex;
    justify-content: space-between;
    border-bottom: 1px dashed #ff6000;
}

.all-coupons .coupon .bottom{
    display: flex;
    justify-content: space-between;
    
}

.form-links{
    display: flex;
    justify-content: space-between;
    border: 1px solid #E5E7EB;
    border-top-left-radius: 8px;
    border-top-right-radius: 8px;
}

.form-links a{
    text-decoration: none;
    color: #666;
    font-size: 0.75rem;
    font-weight: 500;
    padding: 15px 50px;
}

.form-links a span{
    background-color: #ff6000;
    color: #fff;
    font-weight: 700;
    padding: 2.5px;
    border-radius: 12px;
    margin-left: 0.5rem;
}

.credit-carts{
    border: 1px solid #E5E7EB;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-top: none
}

.credit-carts .credit-cart-title{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 0.5rem;
}

.credit-carts .credit-cart-warning{
    color: #454545;
    font-size: 0.75rem;
    line-height: 16px;
    margin-top: 1.5rem;
    background-color: #eef3ff;
    padding: 9px 16px;
    border-radius: 8px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 12px;
}

.credit-carts .credit-cart-title .kk{
    font-family: 1rem;
    color: #212121;
    font-weight: 600;
}

.credit-carts .credit-cart-title .py{
    font-size: 0.75rem;
    color: #5a2ec9;
    font-weight: 700;
}

.credit-carts .credit-cart-title .py span{
    background: #6b00d7;
    color: #fff;
    font-weight: bold;
    padding: 2px 4px;
    border-radius: 4px;
}


.credit-carts .credit-cart-installment .credit-cart-item .top{
    background: #f5f5f5;
    display: flex;
    justify-content: center;
    padding: 8px;
}
.credit-carts .credit-cart-installment .credit-cart-item .top img{
    width: 40%;
    max-width: 5rem;
    mix-blend-mode: multiply;
    object-fit: contain;
}

.credit-cart-installment{
    display: grid;
    grid-template-columns: auto auto auto auto;
    gap: 1rem;
}

.credit-carts .important-info{
   margin-top: 3rem;
}

.credit-carts .important-info h3{
    font-size: 1rem;
    font-weight: 600;
    margin-bottom: 12px;
    color: #484848;
}

.credit-carts .important-info li{
    padding-left: 14px;
    list-style: none;
    margin-bottom: 6px;
    line-height: 1.4;
    font-size: 0.875rem;
    color: #212121;
}
.credit-carts .credit-cart-installment .credit-cart-item table{
    width: 100%;
    text-align: center;
}

.credit-carts .credit-cart-installment .credit-cart-item table,td,th{
    border: 2px solid #f5f5f5;
    border-collapse: collapse;
}

.credit-carts .credit-cart-installment .credit-cart-item .bottom td,th{
    font-size: 0.75rem;
    color: #212121;
    padding: 6px;
}

.card-container{
    display: flex;
    justify-content: space-between;
    gap: 0.5rem;
}

.card-container .card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 1.5rem;
    border: 1px solid #ededed;
    border-radius: 8px;
    padding: 3px;
}

.card-container .card .top img{
    width: 100%;
}

.card-container .card .top .card-description{
    font-size: 0.75rem;
    color: #454545;
    font-weight: 500;
    line-height: 1rem;
}

.card-container .card .top .card-description span{
    font-weight: 600;
}

.card-container .card .top .ratings{
    display: flex;
    align-items: center;
    gap: 0.3rem;
    margin-top: 0.3rem;
}

.card-container .card .top .ratings img{
    width: 6%;
}

.card-container .card .top .ratings p{
    font-size: 0.688rem;
}


.card-container .card .bottom{
    display: flex;
    justify-content: space-between;
}

.card-container .card .bottom .basket-special{
    flex: 1;
    color: #009319;
    font-size: 0.5rem;
    text-align: center;
    background: #E3F5E1;
}

.card-container .card .bottom .info-price{
    flex: 4;
    background: #E3F5E1;
    padding: 8px;
}

.card-container .card .bottom .info-price img{
   width: 15%;
}

.card-container .card .bottom .info-price .price .original-price{
    font-size: 0.625rem;
    color: #757575;
}

.card-container .card .bottom .info-price .price .sale-price{
    font-size: 0.875rem;
    color: #009319;
    font-weight: 600;
}

.card-container .card .bottom .info-price .price .sale-price span{
    font-size: 0.625rem;
}

.popular-searches{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 1px solid #dadada;
    border-top-left-radius: 16px;
    border-top-right-radius: 16px;
    width:100%;
}

.popular-searches .top{
    padding: 12px 0 12px 0;
    font-weight: 600;

}

.popular-searches .mid {
    display: grid;
    gap: 16px;
    grid-template-columns: repeat(3, 1fr);
    padding: 16px;
    border: 1px solid #dadada;
    width: 100%;
    border-bottom: none;
}

.popular-searches .mid div{
   color: #484848;
   font-size: 0.75rem;
   font-weight: 600;
   background:#f0f0f0;
   border-radius: 16px;
   padding: 8px 16px;
   text-align: center;
   width: 100%;
   
}

.popular-searches .bottom{
    font-size: 0.938rem;
    font-weight: 600;
    color: #333333;
}

.product-table td{
    font-size: 0.75rem;
    color: #484848;
    font-weight: 500;
    padding: 8px;
   
}

.product-table td:first-child{
    font-weight: 600;
    border-bottom-left-radius: 8px;
    border-top-left-radius: 8px;
}

.product-table tr:nth-child(2n) {
  background-color: #f5f5f5;
}

.product-table th{
    text-align: left;
}

.product-table th p{
    color:#484848;
    font-size: 0.688rem;
    font-weight: 400;
    height: 32px;
    line-height: 16px;
}

.product-table th img{
    border:1px solid #f5f5f5;
    width: 60%;
}

.compare h2{
    font-size: 1.313rem;
    color: #484848;
    font-weight: 600;
    line-height: 2rem;
    margin-bottom: 4px;
}

.compare .update{
    font-size: 0.875rem;
    font-weight: 400;
    line-height: 20px;
    width: max-content;
}

.show-more-feature{

    border: 2px solid #dadada;
    border-radius: 8px;
    color: #212121;
    display: flex;
    font-size: 1rem;
    font-weight: 600;
    justify-content: center;
    line-height: 24px;
    margin-top: 20px;
    padding: 6px;
    position: relative;
    width: 100%;
    background: transparent;
    gap: 0.6rem;
}











